*{
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #fafafa;
}

.hero{
    /* border: 1px solid black; */
    margin-top: 1%;
}
hr {
    margin:0px;
    padding:0;
}
.navbar{
    /* border: 1px solid yellow; */
    font-size: x-large;
    width: 100%;
    display: flex;
    gap: 100px;
    justify-content: space-around;
    
}

.sub-header{
    padding: 2% 0;
    display: flex;
    justify-content: center;
}

#EI{
    color:  #0077be;
}
#EF{
    color: #8bc34a;
}
.bigg{
    color: black;
    /* border: 1px solid black; */
    text-align: center;
    font-size: 400%;
}



p.lead{
    color: black;
    margin-right: 25px;
    text-justify: distribute;
    font-size: x-large;

}

.ocean{
    color: #0077be;
}

.tree{
 color: #8bc34a;   
}
section.Forest{
    background-color: rgba(145, 255, 0, 0.05);
}

section.water{
    background-color: rgba(0, 119, 190, 0.09);


}

.containerz{
    padding: 0 2%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;

    /* border: 3px solid green; */
}

.linkz{
    margin-left: 200px;
    /* border: 1px solid black; */
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.nav-link.tree{
   color: #8bc34a;
  }

  .nav-link.ocean{
    color: #0077be;
  }

  .nav-link.book:hover{
    color:cadetblue;
  }

  .contactz{
    margin-top: 3%;
    
  }

  @media (max-width: 1300px) {
    .containerz{
        width: 100%;
    }
    
    .d-sm-flex.align-items-center.justify-content-between.mobile{
      
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .card-img-bottom.w-50.d-none.d-sm-block.mobilez{
        width: 500px;
      
    }
    .bigg{
        color: black;
        /* border: 1px solid black; */
        text-align: center;
        font-size: 3rem;
    }
    p.lead{
        font-size: small;
        
    }

    .containerz{
        width: 100%;
        /* border: 3px solid black; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    
      .fw-bold{
        font-size: medium;
      }
    
  }

  